.news-main-container {
    padding-bottom: 2rem;
    min-height: 100vh;
}

.btn-container {
    background-color: rgb(255, 255, 255);
    padding-block: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
}